<topbanner [pageWaiting]="pageWaiting"></topbanner>
<router-outlet></router-outlet>
<br>
<div class="btn-group btn-group-justified">
  <label routerLink="/slotselect" routerLinkActive="active" class="btn btn-primary" >
    SlotSelect
  </label>
  <!--<label routerLink="/homepage" routerLinkActive="active" class="btn btn-primary" >-->
    <!--Homepage-->
  <!--</label> -->
  <label routerLink="/game" routerLinkActive="active" class="btn btn-primary"  >
    Game
  </label>
  <label routerLink="/fun" routerLinkActive="active" class="btn btn-primary" >
    Fun
  </label>
  <label routerLink="/member" routerLinkActive="active" class="btn btn-primary" >
    Member
  </label>
  <label routerLink="/shopmenu" routerLinkActive="active" class="btn btn-primary" >
    Shop
  </label>
  <label routerLink="/crisis-center" routerLinkActive="active" class="btn btn-primary"  >
    crisis-center
  </label>
</div>
