<router-outlet></router-outlet>
<br>
<div class="btn-group btn-group-justified">
  <label routerLink="/homepage" routerLinkActive="active" class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Homepage">
    Homepage
  </label>
  <label routerLink="/game" routerLinkActive="active" class="btn btn-primary" (click)="resetPageWaiting()" [(ngModel)]="radioModel" btnRadio="Game">
    Game
  </label>
  <label routerLink="/fun" routerLinkActive="active" class="btn btn-primary" (click)="resetPageWaiting()" [(ngModel)]="radioModel" btnRadio="Fun">
    Fun
  </label>
  <label routerLink="/member" routerLinkActive="active" class="btn btn-primary" (click)="resetPageWaiting()" [(ngModel)]="radioModel" btnRadio="Member">
    Member
  </label>
  <label routerLink="/shop" routerLinkActive="active" class="btn btn-primary" (click)="resetPageWaiting()" [(ngModel)]="radioModel" btnRadio="Shop">
    Shop
  </label>
</div>
