<pre class="card card-block card-header">{{radioModel || 'null'}}</pre>
<div class="btn-group btn-group-justified">
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Homepage">Homepage</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel" (click)="resetPageWaiting()" btnRadio="Game">Game</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel" (click)="resetPageWaiting()" btnRadio="Fun">Fun</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel" (click)="resetPageWaiting()" btnRadio="Member">Member</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel" (click)="resetPageWaiting()" btnRadio="Shop">Shop</label>
</div>
