<h1>Radio &amp; Uncheckable Radio</h1>
<pre class="card card-block card-header">{{radioModel || 'null'}}</pre>
<div class="btn-group btn-group-justified">
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Homepage">Homepage</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Game">Game</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Fun">Fun</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Member">Member</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Shop">Shop</label>
</div>
<!--<div class="btn-group">-->
  <!--<label class="btn btn-success" [(ngModel)]="radioModel" btnRadio="Homepage"-->
         <!--uncheckable>Left</label>-->
  <!--<label class="btn btn-success" [(ngModel)]="radioModel" btnRadio="Middle"-->
         <!--uncheckable>Middle</label>-->
  <!--<label class="btn btn-success" [(ngModel)]="radioModel" btnRadio="Right"-->
         <!--uncheckable>Right</label>-->
<!--</div>-->

