<pre>{{model}}</pre>
<div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
  <label class="btn btn-primary">
    <input type="radio" [value]="1"> homepage
  </label>
  <label class="btn btn-primary">
    <input type="radio" value="middle"> game
  </label>
  <label class="btn btn-primary">
    <input type="radio" [value]="false"> entertain
  </label>
  <label class="btn btn-primary">
    <input type="radio" [value]="false"> member
  </label>
  <label class="btn btn-primary">
    <input type="radio" [value]="false"> shop
  </label>
</div>
<hr>

